# ── Entorno virtual ──────────────────────────────────────────────────────
venv/
env/
.env
.env.local

# ── Django ────────────────────────────────────────────────────────────────
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# ── Sistema operativo ─────────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ── IDEs ──────────────────────────────────────────────────────────────────
.vscode/
.idea/
*.swp